@charset "UTF-8";

body{
    background-color: rgb(73, 72, 72);
}
h1{
    background-color:#BA2859;
    font-size: 20pt;
    height: 100px;
    text-align: center;
    margin: auto;
}
#home{
    background-color: white;
    min-height: 300px;
    width: 700px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgb(56, 56, 56);
    text-align: center;
    margin: 10px auto;
    padding: 10px;
}
#timer{
    background-color: white;
    min-height: 300px;
    width: 700px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgb(56, 56, 56);
    text-align: center;
    margin: 10px auto;
    padding: 10px;
  }
input{
    height: 30px;
    font-size: 20pt;
}
input[type=number]::-webkit-inner-spin-button { /*tira setas no Google Chrome*/
    -webkit-appearance: none; 
}
input[type=number] { /*tira setas no Mozila*/
   -moz-appearance: textfield;
   appearance: textfield;

}
#tnum, #tinter, #tsec{
    border: 0;
    box-shadow: 3px 3px 3px 3px grey;
    border-radius: 5px;
    margin: 10px;
}